/* Global styles */
@import 'https://fonts.googleapis.com/css?family=Indie+Flower|Raleway|Oswald';

body {
  font-family: 'Raleway', sans-serif;
}

/* Summary paragraph styling. */

#summary {  
  padding: 20px 40px;
  background:#bfbfbf;
  font-size: 23px;
  font-weight: bold;
}

#summary h1 {
  text-align: center;
  font-size: 45px;
}

/* End of summary paragraph styling. */

/* Header styling. */

#header h1 {
  font-size: 50px;
  font-weight: bold;
}

#header h2 {
  font-weight: bolder;
  font-size: 25px;
}

#header {
  padding: 30px 60px;
  text-align: center;
	background-color:	#5F9EA0;
  color: white;
  box-sizing: border-box;
}

/* End of header styling. */

/* Social media link styling. */

#social {
  position: fixed;
  top: 10px;
  right: 25px;
}

#social ul {
  text-align: center;
}

#social ul li a {
  background-repeat: no-repeat;
  text-indent: -900px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  background-position: center center;
  transition: margin-left 0.5s;
}

#social ul li a:hover {
  margin-left: -10px;
}

#social ul li.facebook a {
  background-image: url('/SVGs/facebook.svg');
  background-color: #3b5998;
}

#social ul li.twitter a {
  background-image: url('/SVGs/twitter.svg');
  background-color: #1da1f2;
}

#social ul li.ggl a {
  background-image: url('/SVGs/google-plus.svg');
  background-color: #dd4b39;
}

/* End of social link styling. */

/* Main website styles. */

#wrapper {
  margin: 0 auto;
  max-width: 750px;
}

/* End of main website styling. */

/* Styling for images */

#pizza img {
  position: relative;
  width: 100%;
  border-radius: 50px;
}

#penguin img {
  background-repeat: no-repeat;
  position: fixed;
  top: 15px;
  right: 25px;
  width: 200px;
  height: 240px;
}


/* End of styling for images */

/* Navigation styling */

#navigation ul {
  display: inline-block;
  position: fixed;
  padding-left: 8px;
  top: 10px;
  left: 10px; 
}

#navigation ul li a {
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  width: 105px;
  color: black;
  font-size: 23px;
  font-family: Raleway;
  transition: background-color 0.8s;
}

#navigation ul li {
  list-style-type: none;
  text-align: center;
}

#navigation ul li a:hover {
  background-color: #bfd8d9;
}

/* Navigation styling end */

/* Styling for music page */

#music ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  width: 300px;
  height: 300px;
}

#music {
  text-align: center;
}

/* End of styling for music page */

/* Contact page styling */

#con form label {
  display: block;
  text-align: center;
}

#con form input, #con form textarea {
  margin: 0 auto;
  display: block;
}

#con form label {
  padding: 20px;
}

#thanks {
  text-align: center;
}

/* End of styling for contact page */